nav{
    background-color: aquamarine;
    max-width: auto;
    max-height: auto;
}
button{
    margin-left: 80px;
    justify-content:center;
    text-align: center;
    border: 2px solid tomato;
    
}