h1{
    font-size: xx-large;
    text-align: center;
    color: rgb(23, 130, 94);
    background-color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-bar{
    background-color: brown;
    color: black;
}